fastapi
uvicorn
gunicorn
sqlalchemy
passlib[bcrypt]
python-multipart
python-jose[cryptography]
pymysql
python-dotenv
bcrypt<4.0.0
pydantic[email]
google-cloud-storage
cloud-sql-python-connector[pymysql]
google-auth
google-cloud-secret-manager
pytz
pytest
httpx
pydicom
pylibjpeg
pylibjpeg-openjpeg
pillow
